!!!
%head
  %title Chatterbox
  %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"}
  %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"}
  %script{:type => "text/javascript", :src => faye_js_path}
  %script{:type => "text/javascript", :src => "/application.js"}
  %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
  %link{:rel => "stylesheet", :type => "text/css", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css"}
%body
  %h1 Chatterbox
  = yield
